* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
}
header {
  background-color: #f5f5f5;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.padding-site {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
}

.slider {
  height: 800px;
  background-image: url(../img/slider-img.jpg);
}
.slider .padding-site {
  position: relative;
  height: 100%;
}

.menu-link {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase;
  padding: 10px 13px;
}
.menu-link:hover {
  color: #212121;
}

.menu-link-active {
  font-weight: 700;
  color: #212121;
  letter-spacing: 1.4px;
  border-bottom: 3px solid #212121;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 18px;
}

.slider-trending {
  color: #43a047;
  margin-bottom: 22px;
}

.slider-title {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.slider-content {
  width: 458px;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

.slider-text {
  margin-top: 283px;
}

.button {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 45px;
  width: 212px;
  height: 45px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 31px;
}
.button:hover {
  background-image: url(../img/arrow.svg);
  background-position: top 16px right 30px;
  background-color: #c7c7c7;
}
.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 5px;
}

.circle:hover {
  background-color: #212121;
}

.circle-active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}

.pagination {
  position: absolute;
  width: 100%;
  bottom: 19px;
  text-align: center;
}

.section-featured {
  margin-top: 120px;
  margin-bottom: 120px;
}
.section-menu {
  display: flex;
  justify-content: space-between;
}
.section-tabs {
  display: inline-block;
  /* border-bottom: 1px solid #6c6c6c; */
  padding: 0 2px;
  margin-bottom: 50px;
}
.section-tabs:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  max-width: 300px;
  background-color: #6c6c6c;
}
.section-tabs.tabs-category:after {
  width: 50%;
  width: 300px;
}

.tabs-link {
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  padding: 0 20px 19px 7px;
}
.tabs-link:hover {
  color: #212121;
}
.tab-active {
  color: #212121;
  border-bottom: 3px solid #212121;
}
.explore-more-link {
  display: block;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3.6px;
}
.explore-more-link:hover {
  background: url(../img/arrow.svg) right 1px top 4px no-repeat;
  color: #6c6c6c;
}
.products {
  display: flex;
  justify-content: space-between;
}
.product {
  position: relative;
  width: 24%;
}
.product img {
  width: 100%;
  max-width: 270px;
}

.product-discrabe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(156, 156, 156, 0.9);
  background-color: #ffffff;
  padding: 31px;
  text-align: center;
  opacity: 0;
}
.product-discrabe:hover {
  opacity: 0.9;
}

.product-circle {
  width: 48px;
  height: 48px;
  margin: 30px auto 19px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 50%;
  background-color: #ffffff;
  background: url(../img/arrow.svg) no-repeat;
  background-position: center center;
  background-size: 12px 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.product-subtitle {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  line-height: 29.88px;
  margin-bottom: 23px;
}
.product-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  font-style: normal;
  letter-spacing: normal;
}
.section-exclusive {
  margin-bottom: 119px;
  display: flex;
}
.exclusive1 {
  background: url(../img/promo-img1.jpg) no-repeat;
}
.exclusive2 {
  background: url(../img/promo-img2.jpg) no-repeat;
}
.exclusive-product {
  width: 50%;
  height: 683px;
  padding: 228px 51px;
  background-size: cover;
  background-position-x: right;
}
.subtitle-exclusive {
  color: #1e88e5;
}
.section-title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
.image-content {
  line-height: 24.04px;
  text-align: left;
  max-width: 374px;
  margin-bottom: 34px;
}
.trending-images {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trending-item {
  margin-bottom: 30px;
}
.slider-hot {
  margin: 0;
  padding-top: 283px;
}

.slider__hot-deal {
  margin-top: 90px;
  background-image: url(../img/slider.jpg);
  margin-bottom: 120px;
}
.section-details {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.details-left,
.details-right {
  width: 49%;
  height: 570px;
}
.details-left {
  padding: 186px 31px;
  background: url(../img/product-1-lg.jpg) no-repeat;
}
.details-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detais-item {
  margin-bottom: 3%;
  width: 48%;
}
.section__mobile-app {
  height: 516px;
  margin-bottom: 120px;
  background: url(../img/back-img.jpg) no-repeat;
  padding: 125px 99px;
}
.mobile-app__subtitle {
  margin-bottom: 22px;
}
.mobile-app-text {
  tab-size: 22px;
  color: #6c6c6c;
}
.button-apple,
.button-google {
  width: 135px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button-apple {
  background-image: url(../img/app-store.jpg);
  margin-right: 10px;
}
.button-google {
  background-image: url(../img/google-play.jpg);
}
.footer-container {
  margin-bottom: 59px;
}
.footer-container .padding-site {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.div-column {
  max-width: 40vw;
}
.col-left {
  max-width: 221px;
}
.col-center {
  max-width: 442px;
}
.col-right {
  max-width: 370px;
}
.footer-subtitle {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.footer-text {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  display: inline-block;
  width: 200px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.footer-link:hover {
  color: #6c6c6c;
}
.footer-email-box {
  margin-top: 26px;
  width: 370px;
  height: 48px;
  border: 1px solid #d9dee1;
  background-color: #ffffff;
}
.footer-input,
.footer-button {
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
}
.footer-button img {
  cursor: pointer;
}
.footer-input {
  margin-top: 15px;
  margin-left: 19px;
  width: 316px;
}
.footer-input::placeholder {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
}
.footer-button {
  width: 16px;
  height: 14px;
  margin-top: 14px;
  background: url(../img/send.png) no-repeat;
}
.footer-button:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: left;
}
.copyright,
.social-links,
.rules {
  display: inline-block;
}
.rules-link {
  text-align: right;
}
.rules-link:hover {
  color: #212121;
}
/* страница products */
.header-products {
  min-height: 360px;
  padding-top: 63px;
  padding-bottom: 0;
  background-color: #f5f5f5;
}
.products-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  margin-top: 158px;
}
.section-category {
  margin-top: 71px;
}
.section-category .tabs-link {
  font-size: 18px;
}
.goods {
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.goods-item {
  margin-bottom: 30px;
}
.add-variants {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 140px;
}
.add-variants:hover {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* адаптивность  */
@media screen and (max-width: 1200px) {
  .padding-site {
    max-width: 850px;
  }
  .exclusive-product {
    height: 498px;
    padding: 140px 40px 120px;
  }
  .trending-item {
    width: 32%;
    margin-bottom: 20px;
  }
  .goods-item {
    width: 32%;
    margin-bottom: 20px;
  }
  .add-variants {
    margin-bottom: 100px;
  }
  .header-title {
    margin-top: 128px;
  }
  .header-products {
    height: 336px;
  }
  .footer-bottom {
    font-size: 10px;
  }
  .footer-email-box {
    width: 250px;
    height: 46px;
  }
  .footer-input {
    margin-top: 13px;
    margin-left: 17px;
    width: 196px;
  }
  .footer-button {
    width: 14px;
    height: 12px;
    margin-top: 11px;
  }
  .details-left,
  .details-right {
    height: 44vw;
  }
  .details-left {
    padding: 100px 90px 70px 31px;
    background-position: center;
  }
  .detais-item {
    margin-bottom: 4.5%;
  }
  .col-center {
    width: 320px;
  }
  .col-right {
    width: 250px;
  }
  .image-content {
    max-width: 320px;
  }
}
@media screen and (max-width: 970px) {
  .padding-site {
    max-width: 90%;
  }
  .slider .padding-site {
    height: 100vh;
  }
  .header {
    padding-top: 20px;
  }
  .logo {
    width: 22vw;
  }
  .menu-link {
    font-size: 12px;
    line-height: 36px;
    padding: 5px 6px;
  }
  .search {
    width: 18px;
    height: 18px;
  }
  .slider-text {
    margin-top: 70px;
    max-width: 450px;
  }
  .slider {
    height: 100%;
    background-size: cover;
  }
  .slider-content {
    width: 400px;
  }
  .menu-link-active {
    border-bottom: 2px solid #212121;
  }
  .section-featured {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .tabs-link {
    font-size: 26px;
  }
  .exclusive-product {
    height: 350px;
    padding: 40px 80px 40px 20px;
  }
  .button {
    font-size: 16px;
    line-height: 36px;
    width: 200px;
    height: 36px;
    padding-left: 25px;
  }
  .button:hover {
    background-position: top 12px right 30px;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  .circle-active {
    width: 30px;
    height: 30px;
  }
  .section-exclusive {
    margin-bottom: 70px;
  }
  .section-title {
    font-size: 32px;
    margin-bottom: 22px;
  }
  .header-title {
    font-size: 54px;
  }
  .explore-more-link {
    line-height: 36px;
    padding-right: 14px;
  }
  .explore-more-link:hover {
    background: url(../img/arrow.svg) right 1px top 12px no-repeat;
  }
  .trending-item {
    margin-bottom: 15px;
  }

  .slider-hot {
    padding-top: 60px;
  }
  .details-left {
    padding: 7vw 8vw 5vw 3vw;
  }
  .section__mobile-app {
    background-size: cover;
    background-position: center;
    padding: 80px 70px;
  }
  .button-apple {
    display: block;
    margin-bottom: 14px;
  }
  .image-content {
    max-width: 270px;
  }
  .footer-container .padding-site {
    flex-wrap: wrap;
  }
  .col-left {
    max-width: 30vw;
  }
  .col-center {
    width: 40vw;
  }
  .col-right {
    width: 100vw;
    max-width: 100vw;
  }
  .footer-text {
    width: 40vw;
    display: inline-block;
  }
  .footer-email-box {
    margin-top: 0;
    display: inline-block;
  }
  .col-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .rules {
    order: 1;
  }
  .social-links {
    order: 2;
  }
  .copyright {
    order: 3;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
  }
  .products-menu {
    display: block;
  }
  .col-wrapper {
    display: block;
  }
  .footer-email-box {
    margin-top: 20px;
  }
  .col-left {
    max-width: 100vw;
  }
  .col-center {
    width: 100vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .footer-text {
    width: 100%;
  }
  .footer-link {
    width: 48%;
  }
  .rules {
    order: 2;
  }
  .social-links {
    order: 1;
  }
  .copyright {
    order: 3;
  }
  .goods-item,
  .trending-item {
    width: 47%;
  }
  .section-exclusive {
    flex-wrap: wrap;
  }
  .exclusive-product {
    width: 100%;
  }
  .section-category .tabs-link {
    font-size: 14px;
}
.section-details {
  display: block;
  margin: 0 auto 30px;
}
.details-left, .details-right {
  min-height: 80vw;
  width: 80vw;
  margin: 0 auto 30px;
}
.details-left {
  padding: 15vw 27vw 13vw 10vw;
}
.social-links {
  display: block;
  width: 100%;
}
}

@media screen and (max-width: 576px) {
  .slider-title {
    font-size: 50px;
  }
  .header-title {
    margin-top: 50px;
  }
  .section-title {
    font-size: 30px;
  }
  .products {
    flex-wrap: wrap;
  }
  .product {
    width: 48%;
    margin-bottom: 20px;
  }
}